.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid lightgray 1px;
  width: 40%;
  height: 50%;
}
.heading {
  display: flex;
  margin: 3%;
  width: 100%;
  justify-content: center;
}
.topInputs {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.titleAndInput {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45%;
}
.titleInput {
  width: 90%;
}

.loseInputAndDropdown {
  width: 25%;
}
.inputAndUnit {
  display: flex;
}
.weightInput {
  width: 40%;
}

.descriptionSection {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: center;
}

.descriptionLabelAndInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 77%;
}

.description {
  height: 90%;
  width: 100%;
}
.reviewSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50%;
  border: lightgray 1px solid;
}
.challengeReview {
  width: 50%;
  padding: 0 10%;
  overflow-wrap: break-word;
}
.buttonArea {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 3%;
}
