.body {
  width: 100vw;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fc;
}

.form {
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  border: solid lightgray 1px;
  width: 60%;
  height: 90%;
  background-color: #5b68ef;
  opacity: 0.8;
  border-radius: 5px;
}
.heading {
  display: flex;
  margin: 3%;
  width: 100%;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 30px;
}
.topInputs {
  margin: 5% 0 0 0;
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: space-evenly;
}
.titleAndInput {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100%;
}
.titleInput {
  width: 90%;
  height: 40%;
}

.loseInputAndDropdown {
  width: 25%;
  height: 100%;
}
.inputAndUnit {
  display: flex;
  height: 50%;
}

.weightInput {
  width: 50%;
  height: 81%;
}

.descriptionSection {
  display: flex;
  width: 100%;
  height: 25%;
  justify-content: center;
  margin: 5% 0 0 0;
}

.descriptionLabelAndInput {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.description {
  height: 90%;
  width: 100%;
}

.currentWeightContainer {
  margin: 5% 0 0 0;

  display: flex;
  justify-content: center;
  width: 100%;
}
.currentWeightInput {
  width: 25%;
  margin: 5% 1%;
}
.currentWeightHeading {
  width: 70%;
  margin: 5% 0;
}

.reviewSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.challengeReview {
  width: 50%;
  overflow-wrap: break-word;
}
.buttonArea {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 3%;
}

.startChallengeBtn {
  border-radius: 5px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  border: solid black 1px;
  border-radius: 5px;
  background-color: transparent;
  height: 40px;
  width: 25%;
  cursor: pointer;
}
