.carousel {
  position: relative;
  height: 700px;
  display: flex;
  justify-content: center;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 10px;
  font-size: 0;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
}

.arrow:hover {
  color: rgb(67, 67, 253);
  transition: ease-in 0.25s;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.slide {
  height: 700px;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 700px;
  width: 100vw;
}
.anchor {
  color: black;
}
/* .prev:before,
.next:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #000; 
} */

/* Add hover styles if desired */
/* .prev:hover,
.next:hover {
} */
