.container {
  width: 100vw;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.stripeBtn {
  background-color: rgb(67, 67, 253);
  color: white;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
  margin-top: 20px;
}
.stripeBtn:hover {
  transition: ease-in 0.5s;
  background-color: rgb(40, 40, 214);
}

.goalText {
  width: 40%;
  padding: 10px;
  font-size: 30px;
  line-height: 1.5;
}
.purpleColor {
  color: rgb(67, 67, 253);
  font-weight: bold;
  line-height: 1.5;
}

.heading {
  font-weight: bolder;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 30px;
  line-height: 1.5;
}

.checkout {
  border: solid 1px black;
  border-radius: 5px;
  width: 40%;
  height: 600px;
}
.checkoutText {
  width: 40%;
  font-size: 25px;
}

.notice {
  font-style: italic;
}
